<html>

  <head>

    <title>Patty Alert</title>

    <link href="css/grid.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />

    <script data-main="scripts/main" src="scripts/vendor/require.js"></script>

  </head>

  <body>

    <div class="status sighting"
      data-0="opacity:1;"
      data-200="opacity:0;">
      <h1>EAT ALL THE CHICKEN PATTIES</h1>
    </div>

    <div class="main"
      data-0="margin-top: 13em;"
      data-200="margin-top: 0em;">
      <div class="container">
        <div class="header row">
          <div class="col-12 header">
            <h1>Patty Alert</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h2>Get the alert</h2>
            <p>We'll text you when there's chicken patties... you're welcome.</p>
            <form class="signup" id="signup">
              <input class="phone" name="phone" type="text" />
              <input type="submit" />
            </form>
          </div>
        </div>

        <div class="footer row">
        </div>
      </div>
    </div>

  </body>

</html>