<html>

  <head>

    <title>Patty Alert</title>

    <link href="css/grid.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />

    <script data-main="scripts/main" src="scripts/vendor/require.js"></script>

  </head>

  <body class="container">

    <div class="header row">

      <div class="col-12 header">
        <h1 >Patty Alert</h1>
      </div>

    </div>

    <div class="footer">
      <p>You're welcome.</p>
    </div>

  </body>

</html>