<script id="signedup_template" type="text/html">
  <div class="signup-form">
    <h2>You're signed up for updates</h2>
    <p>Not so? <a href="#" class="new_number">Add a different number.</a></p>
  </div>
</script>