<script id="signup_template" type="text/html">
  <form class="signup-form">
    <h2>Never miss Chicken Patty Day again.</h2>
    <input class="phone" name="phone" placeholder="000-000-0000" type="text" />
    <input class="submit" type="submit" value="Hit me up!" />
    <p>Enter your phone number to receive updates via text message!</p>
  </form>
</script>
