<script id="signup_template" type="text/html">
  <h2>Never miss Chicken Patty Day again!</h2>
  <form class="signup-form">
    <span class="actor">Me:</span>
    <br />
    <span>Can I ha' yo' number? I'll text you when there's chicken patties!</span>
    <br />
    <span class="actor">You:</span>
    <br />
    <span>Sure, it's</span>
    <input class="phone" name="phone" placeholder="000-000-0000" type="text" />
    <input class="submit" type="submit" value="Hit me up!" />
  </form>
</script>
