@import url(http://fonts.googleapis.com/css?family=Sanchez|Fugaz+One);

body {
  color: #333;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

h1, h2, h3 {
  font-family: 'Sanchez';
  font-weight: normal;
}

.actor {
  color: #ccc;
  font-size: .6em;
  font-weight: bold;
}

.hero {
  background: #eee;
  border-radius: 5px;
  margin-top: 1em;
  padding: .3em 2em 1em;
}
  .hero > h1 {
    font-size: 3em;
  }
  .hero.high {
    background-color: #ff0000;
  }
    .hero.high .level {
      color: #fff;
    }
  .hero.medium {
    background-color: #00ff00;
  }
    .hero.medium .level {
      color: #fff;
    }

.status {
  background-position: center;
  left: 0px;
  line-height: 1.6em;
  font-size: 1.5em;
  padding: 4em 2em 5em;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0px;
}
  .status.no-luck {
    background: #ccc;
  }
  .status.upcoming {
    background: #f0f;
  }
  .status.sighting {
    background-image: url(../img/eas.jpg);
  }
    .status.sighting > h1 {
      font-family: 'Fugaz One';
    }

.loader {
  display: block;
  margin: 4em auto;
}

.main {
  background: white;
  box-shadow: 0px -10px 10px rgba(0,0,0,.2);
  margin: 15em -8px 0;
  position: relative;
}

.signup-form {
  font-size: 1.2em;
}
  .signup-form .phone {
    border: none;
    border-bottom: 1px solid;
    font-size: inherit;
    outline: none;
    text-align: center;
    width: 8em;
  }
    .signup-form.valid .phone {
      border-color: #00ff00;
    }
  .signup-form .submit {
    background: #ccc;
    border: none;
    cursor: pointer;
    font-size: .6em;
    padding: .5em;
  }
    .signup-form.valid .submit {
      background: #00ff00;
    }

.footer {
  color: #ccc;
  font-size: .8em;
  margin-top: 2em;
  text-align: center;
}
